{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <!-- Back to the Latest Posts -->
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
           <a href="{% url 'latest-post-list' %}" class="btn btn-dark">&#8617; Back To Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>{{ post.body }}</p>
            <p>
                By <strong>{{ post.author }}</strong>
                | {{ post.created_on }}
            </p>
            {% if request.user == post.author %}
                <a href="{% url 'post-edit' post.id %}" class="btn btn-primary mb-1">Update <i class="fa fa-edit"></i></a>
                <a href="{% url 'post-delete' post.id %}" class="btn btn-danger mb-1">Delete <i class="fas fa-trash"></i></a>
            {% endif %}
        </div>
    </div>

        <!-- Delete your Post -->
        <!-- <div class="row justify-content-center mt-2">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="">
                        <button class="btn btn-danger mb-1">Delete Post</button>
                    </div>
                </form>
            </div>
        </div> -->

    <!-- Add a Comment - Blank Box to write a Post -->
    <div class="row justify-content-center mt-2">
        <div class="col-md-5 col-sm-12">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grip gap-2">
                    <button class="btn btn-primary mt-1 mb-3">Submit Comment</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Show all comments -->
    {% for comment in comments %}
    <div class="row justify-content-center mt-2 mb-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>{{comment.comment}}</p>
            <p>Comment By <strong>{{comment.author}}</strong> | {{ comment.created_on }} </p>

        {% if request.user == comment.author %}
        <a href="{% url 'comment-delete' post.id comment.id %}" class="btn btn-danger mb-1">Delete <i class="fas fa-trash"></i></a>
    {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}