{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <!-- Write a post -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
           <strong>Write a Post!</strong>
        </div>
    </div>

    <!-- Add a Post - Blank Box to write a Post -->
    <div class="row justify-content-center mt-2">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.body }}
                <div class="">
                    <button class="btn btn-primary mb-1">Post</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Show all latest posts -->
    {% for post in post_list %}
    <div class="row justify-content-center mt-2">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a href="{% url 'post-detail' post.id %}" style="color: black; text-decoration: none;">
                <p>{{ post.body }}</p>
                <p>
                    <a href="{% url 'profile' post.author.profile.pk %}" class="text-primary" style="text-decoration: none;">
                        By <strong>@{{ post.author }}</strong>
                    </a>
                    | {{ post.created_on }}
                </p>
                <div class="d-flex flex-row">
                    <form action="{% url 'like' post.pk %}" class="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" style="background-color: transparent; border: none; box-shadow: none;">
                            <i class="far fa-thumbs-up">
                                <span> {{ post.likes.all.count}} </span>
                            </i>
                        </button>
                    </form>

                    <form action="{% url 'dislike' post.pk %}" class="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" style="background-color: transparent; border: none; box-shadow: none;">
                            <i class="far fa-thumbs-down">
                                <span> {{ post.dislikes.all.count}} </span>
                            </i>
                        </button>
                    </form>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}